<!DOCTYPE html>
<html lang="kr">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-157528904-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-157528904-1');
  </script>
  <meta charset="utf-8">
  <title>{% block title %}{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600,200' rel='stylesheet' type='text/css'>
  {% load static %}
  <link rel="stylesheet" href="{% static 'normalize.css' %}?ver=0.1">
  <link rel="stylesheet" href="{% static 'skeleton.css' %}?ver=0.1">
  <link rel="stylesheet" href="{% static 'chat.css' %}?ver=0.1">
</head>
<body>
  <div class="section">
    <div class="container">
      {% block content %}{% endblock content %}
    </div>
  </div>
  {% block afterbody %}{% endblock afterbody %}
</body>
</html>