{% extends "base.html" %}

{% block content %}

 <meta charset="utf-8">
    <div class="flex">
       <div class="left_bg"></div>
       {% load static %}
          <img src="{% static 'Background.png'%}">
       <div class="main_frame">
          <div class="main_title"> "듀오 구해요" </div>
          <meta name="viewport" content="width=device-width, initial-scale=1">
          <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600,200' rel='stylesheet' type='text/css'>
             <form class="id_input" action="" method="post">
                {% csrf_token %}
                {{ form.as_table }}
                <div class="abutton">
                   <input type="submit" value="랜덤 매칭">
                </div>
             </form>
       </div>
    </div>
{% endblock content %}



